{include file="../application/view/public/header.html" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <span class="layui-breadcrumb">
      <a href="javascript:;">首页</a>
      <a href="javascript:;"><cite>财务管理</cite></a>
    </span>
    <hr>
    <blockquote class="layui-elem-quote">公告：暂无</blockquote>
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">报销申请</li>
        <li>报销查询</li>
        <li>报销审核（财务部）<span class="layui-badge-dot"></span></li>
        <li>对账单录入</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">公司名称</label>
              <div class="layui-input-inline">
                <select id="corpId" name="corpId" lay-verify="corpId" lay-filter="corpId" lay-search>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">项目名称</label>
              <div class="layui-input-inline">
                <select name="proId" id="proOptionList" lay-verify="required" lay-filter="proOptionList" lay-search></select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">项目负责人</label>
              <div class="layui-input-block" id="bidsList"></div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">报销类别</label>
              <div class="layui-input-block">
                <input type="radio" name="type" lay-filter="classify" value="1" title="材料/租赁/分包项目" checked>
                <input type="radio" name="type" lay-filter="classify" value="2" title="人工工资">
                <input type="radio" name="type" lay-filter="classify" value="3" title="费用报销">
                <input type="radio" name="type" lay-filter="classify" value="4" title="无合同报销">
              </div>
            </div>
            <div class="layui-form-item hidden" id="category">
              <label class="layui-form-label">班组名称</label>
              <div class="layui-input-inline" style="width: 200px">
                <select name="teamNameId" id="teamNameId" lay-filter="category">
                </select>                
              </div>
              <div class="layui-input-inline" style="width: 200px">
                <input type="text" class="layui-input" id="dataTime" placeholder="请选择月份">
              </div>
              <div class="layui-input-inline" style="width: 200px">
                <input type="text" name="name" placeholder="请输入姓名" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-input-inline" style="width: 200px">
                <input type="text" name="phone" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
              </div>
              <i class="layui-icon layui-icon-edit" id="teamDialog" style="font-size: 32px; color: #009688;cursor: pointer"></i>
            </div>
            <div class="layui-form-item" id="company">
              <label class="layui-form-label">供应商名称</label>
              <div class="layui-input-inline">
                <select name="comId" id="comOptionList" lay-verify="required" lay-filter="comOptionList" lay-search>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">报销金额</label>
              <div class="layui-input-inline">
                <input type="text" name="price" required  lay-verify="required" placeholder="请输入金额" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">元</div>
            </div>
           
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
        <div class="layui-tab-item">
          <form class="layui-form" action="">
            <div class="layui-search">
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search>
                  <option>请选择项目名称</option>
                </select>
              </div>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search>
                  <option>请选择标段名称</option>
                </select>
              </div>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search>
                  <option>请选择分类名称</option>
                </select>
              </div>
              <div class="layui-inline" style="width: 240px">
                <input class="layui-input" name="id" id="test-table-demoReload" autocomplete="off" placeholder="请输入供应商名称或合同编号">     
              </div>                     
              <button class="layui-btn" data-type="reload">搜索</button>
            </div>
            <!--<table class="layui-table" lay-data="{height:315, url:'/finace/finaceTableList', page:true, id:'finaceList'}" lay-filter="finaceList">
            <thead>
              <tr>
                <th lay-data="{field: 'id', width:60}">编号</th>
                <th lay-data="{field: 'proName', width:180}">项目名称</th>
                <th lay-data="{field: 'bidsName', width:100}">项目经理</th>
                <th lay-data="{field: 'comName', width: 180}">供应商名称</th>
                <th lay-data="{field: 'categoryName', width: 180}">分类名称</th>
                <th lay-data="{field: 'conPrice', width: 100}">合同总价</th>
                <th lay-data="{field: 'reiPrice', width: 100}">报销金额</th>
                <th lay-data="{field: 'type', width: 100}">状态 </th>
                <th lay-data="{field: 'conEdit', toolbar: '#colBar'}">操作</th>
              </tr>
            </thead>
          </table>   -->   
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 湖南浩宇建设有限公司 - Lee.
  </div>
</div>
<script src="static/layui/layui.js"></script>
<script type="text/html" id="colBar">
  <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
//JavaScript代码区域
layui.use(['element','form','table','laydate'], function(){
  var element = layui.element,
  form = layui.form,
  table = layui.table,
  laydate = layui.laydate,
  $ = layui.$;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    $.post('/finace/finaceAdd',data.field,function(res){
        layer.msg(res.msg);
        //table.reload('contractList',{});
      }
    );
    return false;
  });

  form.on('radio(classify)',function(data){
    switch (data.value) {
      case "1":
      case "4":
        if($("#company").hasClass('hidden')){
          $("#company").removeClass("hidden");
          $("#category").addClass("hidden");
        }
        if(data.value == 4){
          $.ajax({
              url:'/company/companyOptionList',
              method:'GET',
              dataType:'JSON',
              success:function(res){   
                var num = res.data.length;
                var option = "";
                res.data.forEach( function(element, index) {      
                  option += "<option value='"+element.id+"'>"+element.name+"</option>";
                  $("#comOptionList").html(option);
                });
                form.render('select');
              }
          });
        }
        break;
      case "2":
          if($("#category").hasClass('hidden')){
          $("#company").addClass("hidden");
          $("#category").removeClass("hidden");
        }
        break;
      case "3":
        if(!$("#category").hasClass('hidden')){
          $("#category").addClass("hidden");
        }
        if(!$("#company").hasClass('hidden')){
          $("#company").addClass("hidden");
        }
        break;
     
    }
  });

  form.on('select(category)',function(data){
    if(data.value == 2){
      layer.open({
        content: 'test'
        ,btn: ['按钮一', '按钮二', '按钮三']
        ,yes: function(index, layero){
          //按钮【按钮一】的回调
        }
        ,btn2: function(index, layero){
          //按钮【按钮二】的回调
          
          //return false 开启该代码可禁止点击该按钮关闭
        }
        ,btn3: function(index, layero){
          //按钮【按钮三】的回调
          
          //return false 开启该代码可禁止点击该按钮关闭
        }
        ,cancel: function(){ 
          //右上角关闭回调
          
          //return false 开启该代码可禁止点击该按钮关闭
        }
      });
    }
  });

  form.on('checkbox', function () {
    $("[type='checkbox']").prop("checked", "");
    $(this).prop("checked", "checked");
    form.render('checkbox');
    var corpId = $("#corpId").val(); //获公司ID
    var proId = $("#proOptionList").val(); //获取项目ID
    var mId = $(this).val(); //获取标段ID

    var type = $('input:radio:checked').val();

    if(type == 1){
      //获取供应商名称列表
      $.ajax({
          url:'/company/companyOptionList',
          method:'GET',
          dataType:'JSON',
          data:'corid='+corpId+'&pid='+proId+'&mid='+mId,
          success:function(res){   
            var num = res.data.length;
            var option = "<option>请选择供应商名称</option>";
            res.data.forEach( function(element, index) {      
              option += "<option value='"+element.id+"'>"+element.name+"</option>";
              $("#comOptionList").html(option);
            });
            $("#comOptionList").html(option);
            form.render('select');
          }
      });
    }
  });

  form.on('select(proOptionList)', function(data){
    $("#comOptionList").html('');
    
    //获取标段名称列表
    $.ajax({
        url:'/project/bidsList',
        method:'GET',
        data:'id='+data.value,
        dataType:'JSON',
        success:function(res){
          $("#bidsList").empty();
          var html = '';
          res.data.forEach(function(element, index) {
            html += "<input type='checkbox' name='bids' title='"+element.managerName+"' value="+element.id+">";//拼接标签
          });
          $("#bidsList").html(html);
          form.render("checkbox");
        }
    });
  });

 $("#teamDialog").click(function(event) {
    layer.open({
      type: 2,
      area:['800px', '500px'],
      title:"班组长名称查询 / 编辑",
      content: "/finace/team", //注意，如果str是object，那么需要字符拼接。
      cancel: function(index, layero){ 
        teamOption();
        form.render('select'); 
      }
    });
  });

  laydate.render({
    elem: '#dataTime'
    ,type: 'month' //指定元素
  });

  //获取项目名称列表
  var proOption = function(){
      $.ajax({
      url:'/project/projectOptionList',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "<option value=''>请选择项目名称</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.name+"</option>";
          
        });
        $("#proOptionList").html(option);
        form.render('select');
      }
    });
  }

    //获取供应商名称列表
  var companyOption = function(){
    $.ajax({
      url:'/company/companyOptionList',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "<option value=''>请选择供应商名称</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.name+"</option>";
          
        });
        $("#comOptionList").html(option);
        form.render('select');
      }
    });
  }

    //获取公司列表
  var corOption = function(){
    $.ajax({
      url:'/corporation/corporationOptionList',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.name+"</option>";
          $("#corpId").html(option)
        });
        form.render('select');
      }
    });
  }

  //获取班组列表
  var teamOption = function(){
    $.ajax({
      url:'/finace/teamOptionList',
      method:'GET',
      dataType:'JSON',
      success:function(res){
        var num = res.data.length;
        var option = "<option value='0'>请选择班组类型</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.name+"</option>";
        });
        $("#teamNameId").html(option)
        form.render('select');
      }
    });
  }

  $(document).ready(function(){
    corOption();
    proOption();
    teamOption();
  });
});
</script>
</body>
</html>

