{include file="../application/view/public/header.html" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <span class="layui-breadcrumb">
      <a href="javascript:;">首页</a>
      <a href="javascript:;"><cite>财务管理</cite></a>
    </span>
    <hr>
    <blockquote class="layui-elem-quote">公告：暂无</blockquote>
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">报销申请</li>
        <li>报销查询</li>
        <li>报销审核（财务部）<span class="layui-badge-dot"></span></li>
        <li>对账单录入</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">项目名称</label>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">标段名称</label>
              <div class="layui-input-block" id="bidsList"></div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">报销类别</label>
              <div class="layui-input-block">
                <input type="radio" name="classify" lay-filter="classify" value="1" title="材料/租赁/分包项目" checked>
                <input type="radio" name="classify" lay-filter="classify" value="2" title="人员工资">
                <input type="radio" name="classify" lay-filter="classify" value="3" title="费用报销">
                <input type="radio" name="classify" lay-filter="classify" value="4" title="无合同报销">
              </div>
            </div>
            <div class="layui-form-item hidden" id="category">
              <label class="layui-form-label">班组名称</label>
              <div class="layui-input-inline">
                <select name="city" lay-filter="category">
                  <option value="3">行管组</option>
                  <option value="0">钢筋工组</option>
                  <option value="1">泥工组</option>
                  <option value="2">木工组</option>
                  <option value="3">架工组</option>
                  <option value="3">防水工组</option>
                  <option value="3">水电工组</option>
                </select>                
              </div>
              <div class="layui-input-inline" style="width: 200px">
                <input type="text" class="layui-input" id="dataTime" placeholder="请选择月份">
              </div>
              <div class="layui-input-inline" style="width: 200px">
                <input type="text" name="title" placeholder="请输入组长姓名" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-input-inline" style="width: 200px">
                <input type="text" name="title" placeholder="请输入联系电话" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item" id="company">
              <label class="layui-form-label">供应商名称</label>
              <div class="layui-input-inline">
                <select name="comList" id="comList" lay-verify="required" lay-filter="comList" lay-search>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">报销金额</label>
              <div class="layui-input-inline">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入金额" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">元</div>
            </div>
           
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
        <div class="layui-tab-item">
          <form class="layui-form" action="">
            <div class="layui-search">
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
              <div class="layui-inline" style="width: 240px">
                <input class="layui-input" name="id" id="test-table-demoReload" autocomplete="off" placeholder="请输入供应商名称或合同编号">     
              </div>                     
              <button class="layui-btn" data-type="reload">搜索</button>
            </div>
            <table id="demo" lay-filter="test"></table>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 湖南浩宇建设有限公司 - Lee.
  </div>
</div>
<script src="static/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use(['element','form','table','laydate'], function(){
  var element = layui.element,
  form = layui.form,
  table = layui.table,
  laydate = layui.laydate,
  $ = layui.$;
  
  $(".layui-nav-item .layui-nav-child dd a").click(function(){
    //$(this).append('<span class="layui-badge-dot"></span>');  
    element.tabAdd('layui-tab', {
      title: '选项卡的标题'
      ,content: '选项卡的内容' //支持传入html
      ,id: 'tt'
    }); 
    element.tabChange("nav", "tt");
    element.init();
  });
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });

  form.on('radio(classify)',function(data){
    switch (data.value) {
      case "1":
      case "4":
        if($("#company").hasClass('hidden')){
          $("#company").removeClass("hidden");
          $("#category").addClass("hidden");
        }
        if(data.value == 4){
          $.ajax({
            url:'/contract/comList',
            method:'GET',
            dataType:'JSON',
            success:function(res){   
              var num = res.data.length;
              var option = "";
              res.data.forEach( function(element, index) {      
                option += "<option value='"+element.id+"'>"+element.name+"</option>";
                $("#comList").html(option);
              });
              form.render('select');
            }
          }); 
        }
        break;
      case "2":
        if($("#category").hasClass('hidden')){
          $("#company").addClass("hidden");
          $("#category").removeClass("hidden");
        }
        break;
      case "3":
        if(!$("#category").hasClass('hidden')){
          $("#category").addClass("hidden");
        }
        if(!$("#company").hasClass('hidden')){
          $("#company").addClass("hidden");
        }
        break;
     
    }
  });

  form.on('select(category)',function(data){
    if(data.value == 2){
      layer.open({
        content: 'test'
        ,btn: ['按钮一', '按钮二', '按钮三']
        ,yes: function(index, layero){
          //按钮【按钮一】的回调
        }
        ,btn2: function(index, layero){
          //按钮【按钮二】的回调
          
          //return false 开启该代码可禁止点击该按钮关闭
        }
        ,btn3: function(index, layero){
          //按钮【按钮三】的回调
          
          //return false 开启该代码可禁止点击该按钮关闭
        }
        ,cancel: function(){ 
          //右上角关闭回调
          
          //return false 开启该代码可禁止点击该按钮关闭
        }
      });
    }
  });

  form.on('checkbox', function () {
    $("[type='checkbox']").prop("checked", "");
    $(this).prop("checked", "checked");
    form.render('checkbox');
    var proId = $("#proList").val(); //获取项目ID
    var bidId = $(this).val(); //获取标段ID
    //获取供应商名称列表
    $.ajax({
        url:'/contract/comList',
        method:'GET',
        dataType:'JSON',
        data:'id='+proId+'&bid='+bidId,
        success:function(res){   
          var num = res.data.length;
          var option = "";
          res.data.forEach( function(element, index) {      
            option += "<option value='"+element.id+"'>"+element.name+"</option>";
            $("#comList").html(option);
          });
          form.render('select');
        }
    });
  });

  form.on('select(proList)', function(data){
    $("#comList").html('');
    
    //获取标段名称列表
    $.ajax({
        url:'/contract/bidsList',
        method:'GET',
        data:'id='+data.value,
        dataType:'JSON',
        success:function(res){
          $("#bidsList").empty();
          var html = '';
          res.data.forEach(function(element, index) {
            html += "<input type='checkbox' name='bids' title='"+element.name+"' value="+element.id+">";//拼接标签
          });
          $("#bidsList").html(html);
          form.render("checkbox");
        }
    });
  });

  //第一个实例
  table.render({
    elem: '#demo'
    ,height: 315
    ,url: '/demo/table/user/' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: '编号', width:80}
      ,{field: 'username', title: '项目名称', width:180}
      ,{field: 'sex', title: '标段名称', width:180}
      ,{field: 'city', title: '供应商名称', width:380} 
      ,{field: 'sign', title: '合同总价', width: 180}
      ,{field: 'experience', title: '已付金额', width: 180}
    ]]
  }); 

  laydate.render({
    elem: '#dataTime'
    ,type: 'month' //指定元素
  });

  $(document).ready(function(){
    //获取项目名称列表
    $.ajax({
      url:'/project/projectQuery',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "<option value=''>请选择项目名称</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.proId+"'>"+element.proName+"</option>";
          $("#proList").html(option)
        });
        form.render('select');
      }
    });
  });
});
</script>
</body>
</html>

