{include file="../application/view/public/header.html" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <span class="layui-breadcrumb">
      <a href="javascript:;">首页</a>
      <a href="javascript:;"><cite>供应商管理</cite></a>
    </span>
    <hr>
    <blockquote class="layui-elem-quote">公告：暂无</blockquote>
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">供应商新增</li>
        <li>供应商查阅</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">分类名称</label>
              <div class="layui-input-inline" id="catIdList">
                <select id="classifyId" name="classifyId" xm-select="select" xm-select-search="/company/classifySearch">
                </select>
              </div>
              <i class="layui-icon layui-icon-edit" style="font-size: 32px; color: #009688;cursor: pointer"></i>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">供应商名称</label>
              <div class="layui-input-inline">
                <input type="text" name="comName" required  lay-verify="required" placeholder="请输入供应商名称" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">开户行名称</label>
              <div class="layui-input-inline">
                <input type="text" name="comAccountName" required  lay-verify="required" placeholder="请输入供应商开户行" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">付款账号</label>
              <div class="layui-input-inline">
                <input type="text" name="comAccount" required  lay-verify="required" placeholder="请输入供应商账号" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">联系电话</label>
              <div class="layui-input-inline">
                <input type="text" name="comPhone" required  lay-verify="required" placeholder="请输入供应商联系电话" autocomplete="off" class="layui-input">
              </div>
            </div>

            <div class="layui-form-item">
              <label class="layui-form-label">资料详情</label>
              <div class="layui-input-inline" style="width:600px">
                <input type="checkbox" name="" title="营业执照" lay-skin="primary">
                <input type="checkbox" name="" title="法人身份证" lay-skin="primary">
                <input type="checkbox" name="" title="开户银行许可证" lay-skin="primary">
                <input type="checkbox" name="" title="其他资质证明" lay-skin="primary">
              </div>
            </div>
            
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="remark" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="companyForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
        <div class="layui-tab-item">
          <table id="tabList" lay-filter="tab"></table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 湖南浩宇建设有限公司 - Lee.
  </div>
</div>
<script src="static/layui/layui.js"></script>
<script type="text/html" id="colBar">
  <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
//JavaScript代码区域
layui.config({
        base: 'static/layui/lay/modules/'
    }).extend({
        formSelects: 'formSelects-v4',
});
layui.use(['element','form','table','formSelects'], function(){
  var element = layui.element,
  form = layui.form,
  table = layui.table,
  formSelects = layui.formSelects,
  $ = layui.$;
  
  //监听提交
  form.on('submit(companyForm)', function(data){
    $.post('/company/companyAdd',data.field,function(res){        
        layer.msg(res.msg);
      }
    )
    return false;
  });

  //第一个实例
  table.render({
    elem: '#tabList'
    ,id: 'tabListReload'
    ,url: '/company/companyList' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'comId', title: '编号', width:80}
      ,{field: 'catName', title: '分类名称', width:100}
      ,{field: 'comName', title: '供应商名称', width:280}
      ,{field: 'comBankName', title: '开户行名称', width:180, sort: true}
      ,{field: 'comAccount', title: '付款账号', width:180} 
      ,{field: 'comPhone', title: '联系电话', width: 100}
      ,{field: 'comEdit', title: '编辑', toolbar: '#colBar'}
    ]]
  });

  element.on("tab(tab)", function(data){
    table.reload("tabListReload", {});
  });

  $(".layui-icon-edit").click(function(event) {
    layer.open({
      type: 2,
      area:['600px', '500px'],
      title:"分类名称查询 / 编辑",
      content: "/company/classify" //注意，如果str是object，那么需要字符拼接。
    });
  });
  $(document).ready(function(){
    //获取分类名称列表
    $.ajax({
      url:'/company/classifylist',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.cateName+"</option>";
          $("#classifyId").html(option)
        });
        form.render('select');
      }
    });
  });
});
</script>
</body>
</html>

