{include file="../application/view/public/header.html" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <span class="layui-breadcrumb">
      <a href="javascript:;">首页</a>
      <a href="javascript:;"><cite>合同管理</cite></a>
    </span>
    <hr>
    <blockquote class="layui-elem-quote">公告：暂无</blockquote>
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">合同新增</li>
        <li>合同查阅</li>
        <li>合同审核（副总经办）<span class="layui-badge-dot"></li>
        <li>合同盖章确认（综合部）<span class="layui-badge-dot"></li>
        <li>合同存档</a></li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">公司名称</label>
              <div class="layui-input-inline">
                <select id="corpId" name="corpId" lay-verify="corpId" lay-filter="corpId" lay-search>
                </select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">项目名称</label>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">标段名称</label>
              <div class="layui-input-block" id="bidsList"></div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">供应商名称</label>
              <div class="layui-input-inline">
                <select name="comList" id="comList" lay-verify="required" lay-filter="comList" lay-search>
                </select>
              </div>
            </div>
            <!--<div class="layui-form-item">
              <label class="layui-form-label">合同名称</label>
              <div class="layui-input-inline">
                <input type="text" name="title" required  lay-verify="required" placeholder="请输入合同名称" autocomplete="off" class="layui-input">
              </div>
            </div>-->
            <div class="layui-form-item">
              <label class="layui-form-label">总价</label>
              <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="required" placeholder="请输入合同总金额" autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">元</div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">开始日期</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="dataTimeStart" placeholder="请选择合同开始日期">
              </div>
              <label class="layui-form-label">截止日期</label>
              <div class="layui-input-inline">
                <input type="text" class="layui-input" id="dataTimeEnd" placeholder="请选择合同截止日期">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">合同份数</label>
              <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="required" placeholder="请输入合同份数" autocomplete="off" class="layui-input">
              </div>
              <label class="layui-form-label">留存份数</label>
              <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="required" placeholder="请输入合同公司留存份数" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">经办人</label>
              <div class="layui-input-inline">
                <input type="text" id="transactor" name="transactor" lay-verify="required" placeholder="请输入经办人姓名" autocomplete="off" class="layui-input">
              </div>
              <label class="layui-form-label">联系电话</label>
              <div class="layui-input-inline">
                <input type="text" id="transactorPhone" name="transactorPhone" lay-verify="required" placeholder="请输入经办人电话" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">标签</label>
              <div class="layui-input-block">
                <div class="label-selected">
                  <a href="javascript:;" name="labelButton" class="layui-btn layui-btn-sm" style="float: right; margin: 4px; display: block;line-height: 30px;">编辑标签库 </a>
                  <a href="javascript:;" class="layui-btn layui-btn-sm hide-labelitem" style="float: right; margin: 4px; display: none;line-height: 30px;">收起标签库 </a>
                  <a href="javascript:;" class="layui-btn layui-btn-sm show-labelitem" style="float: right; margin: 4px; display: block;line-height: 30px;">展开标签库 </a>
                  <input type="hidden" name="label">
                </div>
                <div class="layui-col-md12" id="labelItem">
                  <div class="label-item" id="labelItemContent">
                    <!--<a href="javascript:;" class="replacelable" style="position: absolute;right:1rem;bottom:.75rem;color: #1994dc" onselectstart="return false">换一批</a>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-form-item layui-form-text">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
          </form>
        </div>
        <div class="layui-tab-item">
          <form class="layui-form" action="">
            <div class="layui-search">
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
              <div class="layui-input-inline">
                <select name="proList" id="proList" lay-verify="required" lay-filter="proList" lay-search></select>
              </div>
              <div class="layui-inline" style="width: 240px">
                <input class="layui-input" name="id" id="test-table-demoReload" autocomplete="off" placeholder="请输入供应商名称或合同编号">     
              </div>                     
              <button class="layui-btn" data-type="reload">搜索</button>
            </div>
            <table id="demo1" lay-filter="test1"></table>
          </form>
        </div>
        <div class="layui-tab-item">
          <table id="demo2" lay-filter="test2"></table>
        </div>
        <div class="layui-tab-item">
          <table id="demo3" lay-filter="test3"></table>
        </div>
        <div class="layui-tab-item">
          <table id="demo4" lay-filter="test4"></table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 湖南浩宇建设有限公司 - Lee.
  </div>
</div>
<script src="static/layui/layui.js"></script>
<script type="text/html" id="colBar">
  <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="colBar1">
  <a class="layui-btn layui-btn-xs" lay-event="detail">通过</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">不通过</a>
</script>
<script type="text/html" id="colBar2">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">确认</a>
</script>
<script type="text/html" id="colBar3">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">归档</a>
</script>
<script>
layui.config({
        base: 'static/layui/lay/modules/'
    }).extend({
        autocomplete: 'autocomplete'
});
//JavaScript代码区域
layui.use(['element','form','table','laydate','layer','autocomplete'], function(){
  var element = layui.element,
  layer = layui.layer,
  form = layui.form,
  table = layui.table,
  laydate = layui.laydate,
  autocomplete = layui.autocomplete,
  $ = layui.$;

  $("a[name = 'labelButton']").click(function(data){
    layer.open({
      type: 2,
      area:['600px', '500px'],
      title:"标签库",
      content: "/contract/label" //注意，如果str是object，那么需要字符拼接。
    });
  });
  
  //标签选择器
  $(".show-labelitem").on("click",function(){
    $(this).hide();
    $(".hide-labelitem").show();
    $("#labelItem").show();
  });
  $(".hide-labelitem").on("click",function(){
    $(this).hide();
    $(".show-labelitem").show();
    $("#labelItem").hide();
  });
  $(".label-item").on("click","li",function(){
    var id = $(this).attr("data");
    var text = $(this).children("span").html();
    var labelHTML = "<li data='"+id+"''><i class=\"layui-icon layui-icon-close\" style=\"font-size: 10px;color:#000\"></i> "+text+"</li>";
    if($(this).hasClass("selected")){
      return false;
    }else if($(".label-selected").children("li").length >= 1){
      layer.msg("最多可以选择1个哦");
      return false;
    }
    $(".label-selected").append(labelHTML);
    var val = '';
    for(var i = 0; i < $(".label-selected").children("li").length; i++){
      val += $(".label-selected").children("li").eq(i).attr("data")+',';
    }
    $("input[name='label']").val(val);
    $(this).addClass("selected");
  });

  $(".label-selected").on("click","li",function(){
    var id = $(this).attr("data");
    var val = '';
    $(this).remove();
    for(var i = 0; i < $(".label-selected").children("li").length; i++){
      val += $(".label-selected").children("li").eq(i).attr("data")+',';
    }
    $("input[name='label']").val(val);
    $(".label-item").find("li[data='"+id+"']").removeClass("selected");
  });


  //点击更换标签
  var limit = 0;
  $(".replacelable").on("click",function(){
    layer.load(1);
    limit += 32;
    $.ajax({
      url:window.location.href,
      type:"post",
      datatype:"json",
      data:{
        labellimit:limit
      },
      success:function(data){
        layer.closeAll('loading');
        $(".label-item").find("li").remove();//删除原先所有，本来想让数据表随机搜索的，想着有点mmp，就没搞，用的是limit
        var html = '';
        for(var i in data){
          html += "<li data=\""+data[i].term_id+"\"><i class=\"layui-icon layui-icon-close\" style=\"font-size: 10px;\"></i><span>"+data[i].name+"</span></li>";//拼接标签
        }
        $(".label-item").append(html);//追加至文档
      },
      error:function(){
        layer.closeAll('loading');
        layer.msg("错误~~~");
      }
    })
  });
  //获取标签
  $("#cell").on("click",function(){
    if($("input[name='label']").val() == ""){
      return false;
    }else{
    layer.msg("标签内容为："+$("input[name='label']").val());
    }
  });
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });

  //标段单选按钮
  form.on('checkbox', function () {
    $("[type='checkbox']").prop("checked", "");
    $(this).prop("checked", "checked");
    form.render('checkbox');
    layer.msg("错误~~~");
  });

  //监听供应商下拉列表
  form.on('select(comList)',function(data){
    $(".label-selected").children("li").remove();
    //获取标签名称列表
    $.ajax({
      url:'/contract/categorylist',
      method:'GET',
      data:'id='+data.value,
      dataType:'JSON',
      success:function(res){
        $(".label-item").find("li").remove();//删除原先所有，本来想让数据表随机搜索的，想着有点mmp，就没搞，用的是limit
        var html = '';
        res.data.forEach(function(element, index) {
          html += "<li data=\""+element.id+"\"><i class=\"layui-icon layui-icon-close\" style=\"font-size: 10px;\"></i><span>"+element.cateName+"</span></li>";//拼接标签
        });
        $(".label-item").append(html);//追加至文档
      }
    });
  });

  //监听经办人输入框 *****待完善******
  autocomplete.render({
    elem: $('#transactor'),
    url: 'example_request_url',
    template_val: '{{d.consignee}}',
    template_txt: '{{d.consignee}} <span class=\'layui-badge layui-bg-gray\'>{{d.phone_number}}</span>',
    onselect: function (resp) {
        
    }
  })

  //监听项目名称下拉列表
  form.on('select(proList)',function(data){
    //获取标段名称列表
    $.ajax({
        url:'/contract/bidsList',
        method:'GET',
        data:'id='+data.value,
        dataType:'JSON',
        success:function(res){
          $("#bidsList").empty();
          var html = '';
          res.data.forEach(function(element, index) {
            html += "<input type='checkbox' name='bids' title='"+element.name+"' value="+element.id+">";//拼接标签
          });
          $("#bidsList").html(html);
          form.render("checkbox");
        }
    });
  });
  
  //第一个实例
  table.render({
    elem: '#demo1'
    ,url: '/contract/contractQuery' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: '编号', width:80}
      ,{field: 'proName', title: '项目名称', width:180}
      ,{field: 'bidsName', title: '标段名称', width:100}
      ,{field: 'proNumber', title: '项目编号', width:90}
      ,{field: 'conNumber', title: '合同编号', width:90} 
      ,{field: 'comName', title: '供应商名称', width: 180}
      ,{field: 'conPrice', title: '合同总价', width: 100}
      ,{field: 'category', title: '分类名称', width: 180}
      ,{field: 'conEdit', title: '操作', toolbar: '#colBar'}
    ]]
  });  
  table.render({
    elem: '#demo2'
    ,url: '/contract/contractVerify' //数据接口
    ,page: false //开启分页
    ,cols: [[ //表头
      {field: 'id', title: '编号', width:80}
      ,{field: 'proName', title: '项目名称', width:180}
      ,{field: 'bidsName', title: '标段名称', width:100}
      ,{field: 'proNumber', title: '项目编号', width:90}
      ,{field: 'conNumber', title: '合同编号', width:90} 
      ,{field: 'comName', title: '供应商名称', width: 180}
      ,{field: 'conPrice', title: '合同总价', width: 100}
      ,{field: 'category', title: '分类名称', width: 180}
      ,{field: 'conEdit', title: '操作', toolbar: '#colBar1'}
    ]]
  });  
  table.render({
    elem: '#demo3'
    ,url: '/contract/contractConfirm' //数据接口
    ,page: false //开启分页
    ,cols: [[ //表头
       {field: 'id', title: '编号', width:80}
      ,{field: 'proName', title: '项目名称', width:180}
      ,{field: 'bidsName', title: '标段名称', width:250}
      ,{field: 'proNumber', title: '项目编号', width:90}
      ,{field: 'conNumber', title: '合同编号', width:90} 
      ,{field: 'comName', title: '供应商名称', width: 280}
      ,{field: 'conEdit', title: '操作', toolbar: '#colBar2'}
    ]]
  });  
  table.render({
    elem: '#demo4'
    ,url: '/contract/contractSave' //数据接口
    ,page: false //开启分页
    ,cols: [[ //表头
      {field: 'id', title: '编号', width:80}
      ,{field: 'proName', title: '项目名称', width:180}
      ,{field: 'bidsName', title: '标段名称', width:250}
      ,{field: 'proNumber', title: '项目编号', width:90}
      ,{field: 'conNumber', title: '合同编号', width:90} 
      ,{field: 'comName', title: '供应商名称', width: 280}
      ,{field: 'conEdit', title: '操作', toolbar: '#colBar3'}
    ]]
  });  
  
  //执行一个laydate实例
  laydate.render({
    elem: '#dataTimeStart' //指定元素
  });
  laydate.render({
    elem: '#dataTimeEnd' //指定元素
  });

  $(document).ready(function(){
    //获取项目名称列表
    $.ajax({
      url:'/project/projectQuery',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "<option value=''>请选择项目名称</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.proId+"'>"+element.proName+"</option>";
          $("#proList").html(option)
        });
        form.render('select');
      }
    });

    //获取供应商名称列表
    $.ajax({
        url:'/company/comQuery',
        method:'GET',
        dataType:'JSON',
        success:function(res){   
          var num = res.data.length;
          var option = "";
          res.data.forEach( function(element, index) {
            option += "<option value='"+element.comId+"'>"+element.comName+"</option>";
            $("#comList").html(option)
          });
          form.render('select');
        }
    });

    //获取公司列表
    $.ajax({
      url:'/project/corpQuery',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.corpId+"'>"+element.corpName+"</option>";
          $("#corpId").html(option)
        });
        form.render('select');
      }
    });
  });
});
</script>
</body>
</html>

