<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>浩宇建设 - 项目部</title>
<link rel="stylesheet" href="../static/layui/css/layui.css">
<link rel="stylesheet" href="../static/layui/css/global.css">
<link rel="stylesheet" href="../static/layui/css/modules/formSelects/default/formSelects-v4.css">
</head>
<body class="layui-layout-body">
	<script src="../static/layui/layui.js"></script>
<script>
layui.use(['element','table','form'], function(){
  var element = layui.element,
  table = layui.table,
  form = layui.form,
  $ = layui.$;

  form.on('submit(lableForm)', function(data){
    $.post('/classify/cateAdd',data.field,function(res){        
        layer.msg(res.msg);
        table.reload('labelList', {});
      }
    );
    return false; 
  });

  $.ajax({
      url:'/classify/classifyList',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "<option>请选择分类名称</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.name+"</option>";          
        });
        $("#classId").html(option)
        form.render('select');
      }
  });
});
</script>
<script type="text/html" id="colBar">
  <a class="layui-btn layui-btn-xs" lay-event="vertifyYes">审核通过</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="vertifyNo">审核不通过</a>
</script>
<div class="layui-container">
  <div class="layui-row">
    <div class="layui-col-sm12">
      <table class="layui-table">
        <tbody>
          <tr><td>项目名称：</td><td>汉寿恒大御府</td></tr>
          <tr><td>标段负责人：</td><td>李恒孝</td></tr>
          <tr><td>标段签署合同总数：</td><td>12 个</td></tr>
          <tr><td>标段总价：</td><td>0 元</td></tr>
          <tr><td>标段收到工程款：</td><td>0 元</td></tr>
          <tr><td>标段已付款金额：</td><td>0 元</td></tr>
        </tbody>
      </table>  
    </div>
  </div>
  <div class="layui-row">
    <div class="layui-col-sm12">同类型合同列表如下：</div>
  </div>
  <div class="layui-row">
    <div class="layui-col-md12">
    	<table class="layui-table" lay-data="{height:390, url:'', page:true, id:''}" lay-filter="">
    		<thead>
    		    <tr>
    			    <th lay-data="{field:'id', width:80}">ID</th>
    			    <th lay-data="{field:'className', width:180}">分类名称</th>
              <th lay-data="{field:'bidsEdit', width:120, align:'center', toolbar: '#colBar'}">操作</th>   
    		    </tr>
    		</thead>
    	</table>
    </div>
  </div>
  <div class="layui-row">
    <div class="layui-col-sm2">审核不通过原因：</div>
    <div class="layui-col-sm10"><textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea></div>
  </div>
  <div class="layui-row">
    <div class="layui-col-sm12" style="text-align:center">通过  不通过</div>
  </div>
</div>
</body>
</html>