<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>浩宇建设 - 项目部</title>
<link rel="stylesheet" href="../static/layui/css/layui.css">
<link rel="stylesheet" href="../static/layui/css/global.css">
<link rel="stylesheet" href="../static/layui/css/modules/formSelects/default/formSelects-v4.css">
</head>
<body class="layui-layout-body">
	<script src="../static/layui/layui.js"></script>
<script>
layui.use(['element','table','form'], function(){
  var element = layui.element,
  table = layui.table,
  form = layui.form,
  $ = layui.$;

  form.on('submit(lableForm)', function(data){
    $.post('/classify/cateAdd',data.field,function(res){        
        layer.msg(res.msg);
        table.reload('labelList', {});
      }
    );
    return false; 
  });

  $.ajax({
      url:'/classify/classifyList',
      method:'GET',
      dataType:'JSON',
      success:function(res){   
        var num = res.data.length;
        var option = "<option>请选择分类名称</option>";
        res.data.forEach( function(element, index) {
          option += "<option value='"+element.id+"'>"+element.name+"</option>";          
        });
        $("#classId").html(option)
        form.render('select');
      }
  });
});
</script>
<script type="text/html" id="colBar">
  <a class="layui-btn layui-btn-xs" lay-event="vertifyYes">审核通过</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="vertifyNo">审核不通过</a>
</script>
<div class="layui-container">
  <div class="layui-row">
    <div class="layui-col-sm6 layui-col-space3">
      <div class="layui-row">项目名称：汉寿恒大御府</div>
      <div class="layui-row">标段负责人：李恒孝</div>
      <div class="layui-row">标段签署合同总数：12个</div>
      <div class="layui-row">标段总价：0元</div>
      <div class="layui-row">标段收到工程款：0元</div>
      <div class="layui-row">标段已付款金额：0元</div>
    </div>
    <div class="layui-col-sm6 layui-col-space3">
      <div class="layui-row">供应商名称：湖南博长钢材贸易有限公司</div>
      <div class="layui-row">供应商电话：1388888888</div>
      <div class="layui-row">合同类型：塔吊租赁</div>
      <div class="layui-row">合同金额：20000.00元</div>
      <div class="layui-row">合同经办人：石晶1388888888</div>
      <div class="layui-row">合同备注：塑料袋会计法塑料袋会计法是的家乐福开始代理费会计师代理费圣诞快乐就水电费离开家无</div>
    </div>
  </div><br />
  <div class="layui-row">
    <div class="layui-col-sm12">同类型合同列表如下：</div>
  </div>
  <div class="layui-row">
    <div class="layui-col-md12">
    	<table class="layui-table" lay-data="{height:190, url:'', page:true, id:''}" lay-filter="">
    		<thead>
    		    <tr>
    			    <th lay-data="{field:'id', width:80}">ID</th>
    			    <th lay-data="{field:'comName', width:180}">供应商名称</th>
              <th lay-data="{field:'catName', width:180}">合同类别</th>
              <th lay-data="{field:'conPrice', width:180}">合同金额</th>
              <th lay-data="{field:'conOperator', width:180}">经办人</th>
              <th lay-data="{field:'conRemark', width:180}">备注</th>
    		    </tr>
    		</thead>
    	</table>
    </div>
  </div>
  <div class="layui-row">
    <div class="layui-col-sm2">审核不通过原因：</div>
    <div class="layui-col-sm10"><textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea></div>
  </div>
  <br />
  <div class="layui-row">
    <div class="layui-col-sm12" style="text-align:center">
      <div class="layui-btn-container">
        <button class="layui-btn">审核通过</button>
        <button class="layui-btn layui-btn-danger">审核不通过</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>