{include file="../application/view/public/header.html" /}
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <span class="layui-breadcrumb">
      <a href="javascript:;">首页</a>
      <a href="javascript:;"><cite>财务管理</cite></a>
    </span>
    <hr>
    <blockquote class="layui-elem-quote">公告：暂无</blockquote>
    <div class="layui-tab layui-tab-brief">
      <ul class="layui-tab-title">
        <li class="layui-this">供应商导入</li>
        <li>分类信息导入</li>
        <li>项目经理导入</li>
        <li>经办人导入</li>
        <li>合同导入</li>
        <li>报销流水导入</li>
      </ul>
      <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
          <form class="layui-form" action="">
            <div class="layui-form-item">
              <label class="layui-form-label">请选择文件</label>
              <button type="button" class="layui-btn" id="upload">
                <i class="layui-icon">&#xe67c;</i>上传
              </button>
            </div>
          </form>
        </div>
        <div class="layui-tab-item">
          <table id="demo" lay-filter="test"></table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 湖南浩宇建设有限公司 - Lee.
  </div>
</div>
<script src="static/layui/layui.js"></script>
<script>
//JavaScript代码区域
layui.use('upload', function(){
  var upload = layui.upload;
   
  //执行实例
  var uploadInst = upload.render({
    elem: '#upload' //绑定元素
    ,url: '/upload/' //上传接口
    ,accept: 'file'
    ,done: function(res){
      //上传完毕回调
    }
    ,error: function(){
      //请求异常回调
    }
  });
});
</script>
</body>
</html>

